/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole di DEBUG */
.debug header {
    background-color: yellow;
    border: 1px dashed black;
}
.debug .container {
    background-color: gainsboro;
    border: 1px dashed black;
}
.debug .small-column {
    background-color: blue;
    border: 1px dashed black;
}
.debug .big-column {
    background-color: pink;
    border: 1px dashed black;
}

/* Regole CSS */
body {
    font-family: 'Open Sans', sans-serif;
}
 
/* HEADER */
header {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header-left, .header-right {
    display: flex;
}
ul > li {
    display: inline-block;
    padding: 0 20px;
}
.button {
background-color: royalblue;
color: white;
padding: 10px;
}
a {
    text-decoration: none;
    color: black;
}

/* MAIN */
#jumbotron {
    background-color: rgb(180, 208, 231);
    padding-top: 10vh;
}
.big-layout {
    max-width: 1170px;
    margin: auto;
}
h1 {
    font-size: 80px;
}
.jumbotron-container {
    display: flex;
    margin: 30px 0;
}
.small-column {
    width: 30%;
}
.big-column {
    width: 70%;
}
.small-column > div{
    margin: 50px 0;
}
.small-column i {
    margin-top: 100px;
    font-size: 50px;
}
.big-column img {
    width: 100%;
}