/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Regole di DEBUG */

/* Regole CSS generali*/
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.container-small {
    max-width: 1000px;
    margin: auto;
}
.d-flex {
    display: flex;
}
.content-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.overflow {
    overflow-y: scroll;
}
.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-100 {
    width: 100%;
}
.button {
    text-decoration: none;
    padding: 10px;
}
.text-white {
    color: white;
}
.text-black {
    color: black;
}
.bg-white {
    background-color: white;
}
.bg-blue {
    background-color: royalblue;
}
.bg-gray {
    background-color: rgb(245, 245, 245);
}
.bg-green {
    background-color: rgb(162, 211, 155);
}
.bg-bordeaux {
    background-color: rgb(97, 8, 43);
}
.bg-heavenly{
    background-color: rgb(0, 147, 206);
}
.bg-red {
    background-color: rgb(255, 28, 28);
}
.bg-dark-red {
    background-color: rgb(213, 0, 31);
}
.bg-blue-sky {
    background-color: rgb(180, 208, 231);
}
.bg-blue-dark {
    background-color: rgb(13, 36, 129);
}
.bg-yellow {
    background-color: rgb(255, 216, 48);
}
.lh-50 {
    line-height: 50px;
}
.c-blue {
    color: blue;
}
.c-grey {
    color: grey;
}
.pl-10 {
    padding-left: 10px;
}
.p-all-20 {
    padding: 20px;
}
.pt-100 {
    padding-top: 100px;
}
.ptb-10 {
    padding: 10px 0;
}
.ptb-50 {
    padding: 50px 0;
}
.ptb-100 {
    padding: 100px 0;
}
.mtb-30 {
    margin: 30px 0;
}
.mtb-50 {
    margin: 50px 0;
}
li {
    list-style: none;
}
.text-center {
    text-align: center;
}
.border {
    border: 1px solid grey;
}
/* HEADER */
header {
    background-color: white;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0px 0px 5px 0px lightgrey;
}
header  li {
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
}
header div {
    line-height: 80px;
    vertical-align: middle;
}
header .centra {
    line-height: 80px;
    vertical-align: bottom;
}
/* MAIN */
main {
    padding-top: 80px;
}
/* section jumbotron */
#jumbotron {
    background-color: #B4D0E7;
}
#jumbotron i {
    font-size: 50px;
}
h1 {
    font-size: 74px;
}
.menu-img {
    width: 110%;
    height: 110%;
}

/* section plans */
#plans span {
    line-height: 20px;
    vertical-align: middle;
    padding-right: 30px;
}
#plans .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
    line-height: 20px;
    vertical-align: middle;
}
#plans .circle:first-child {
    border: 5px solid blue;
}

/* section partner */
.partner-img {
    width: 100%;
}

/* section operations */
.op-img {
    width: 100%;
}

/* section customer */
.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.small-square {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-green {
    border: 20px solid lightgreen;
}
.square img {
    width: 50%;
}
.overflow::-webkit-scrollbar { 
    display: none;
}

/* section free-try */
#free-try {
    background-color: #B4D0E7;
}
#free-try h2 {
    font-size: 44px;
    color: rgb(97, 8, 43);
}
#free-try a {
    padding: 10px 30px;
}
/* section faq */
.rel {
    position: relative;
}
.down-1 {
    position: absolute;
}
.up-1 {
    position: absolute;
    opacity: 0;
}
.down-2 {
    position: absolute;
}
.up-2 {
    position: absolute;
    opacity: 0;
}
.down-3 {
    position: absolute;
}
.up-3 {
    position: absolute;
    opacity: 0;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
}
.footer-col {
    width: calc(100% / 5);
}
footer h2 {
    padding: 50px 0 20px 0;
}
footer li {
    padding: 10px 0;
}
footer a {
    text-decoration: none;
    color: white;
}
.language {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0 5px;
}
footer i {
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}

/* Interazioni con la pagina */
.uno:hover {
    border-bottom: 2px solid black;
}
.due:hover {
    border-bottom: 2px solid black;
}
.tre:hover {
    border-bottom: 2px solid black;
}
.quattro:hover {
    border-bottom: 2px solid black;
}
.cinque:hover {
    border-bottom: 2px solid black;
}
.sei:hover {
    border-bottom: 2px solid black;
}

.bg-blue:hover {
    background-color:cornflowerblue;
}

.bg-white:hover {
    background-color: lightgrey;
}

.box-1:hover .risposta-1:after {
    content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus placeat amet ducimus. Eos deleniti consectetur tempora fugiat, exercitationem atque nam autem voluptate quas tempore nemo sapiente fuga magnam corporis accusamus?';
}
.box-2:hover .risposta-2:after {
    content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus placeat amet ducimus. Eos deleniti consectetur tempora fugiat, exercitationem atque nam autem voluptate quas tempore nemo sapiente fuga magnam corporis accusamus?';
}
.box-3:hover .risposta-3:after {
    content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus placeat amet ducimus. Eos deleniti consectetur tempora fugiat, exercitationem atque nam autem voluptate quas tempore nemo sapiente fuga magnam corporis accusamus?';
}
.box-1:hover .down-1 {
    opacity: 0;
}
.box-1:hover .up-1 {
    opacity: 1;
}
.box-2:hover .down-2 {
    opacity: 0;
}
.box-2:hover .up-2 {
    opacity: 1;
}
.box-3:hover .down-3 {
    opacity: 0;
}
.box-3:hover .up-3 {
    opacity: 1;
}

.border-bordeaux:active {
    border: 20px solid rgb(184, 62, 62);
}
.border-heavenly:active{
    border: 20px solid rgb(159, 205, 223);
}
.border-red:active{
    border: 20px solid rgb(151, 72, 72);
}
.border-dark-red:active{
    border: 20px solid rgb(235, 93, 93);
}
.border-blue-sky:active{
    border: 20px solid rgb(171, 219, 238);
}
.border-blue-dark:active{
    border: 20px solid rgb(69, 69, 236);
}
.border-yellow:active{
    border: 20px solid rgb(235, 235, 151);
}